@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/0qdin-7xoe6.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.custom-icon {
  font-family: 'CustomFont';
  display: inline-block;
  font-size: 24px;
  line-height: 1;
}