---

---

<br /><br /><br />

<section class="testimonial-section bg-color-2">
	<div class="outer-container clearfix">
		<div
			class="faq-inner pull-right"
			style="background: #ffbf37;display: flex; align-items: center;">
			<div class="img-container">
				<img src="images/cascanueces.png" alt="cascanueces" />
			</div>
			<div class="faq-content">
				<div class="sec-title">
					<span class="sub-title">Preguntas Frecuentes</span>
					<h2>¿Tienes alguna duda?</h2>
				</div>
				<ul class="accordion-box">
					<textarea
						placeholder="Escribe tus dudas..."
						rows="4"
						style="width: 100%"></textarea>
					<div class="btn-box">
						<a href="index.html" class="theme-btn btn-one">
							Enviar
						</a>
					</div>
				</ul>
			</div>
		</div>
	</div>
</section>

<br /><br /><br />
