---
export interface Props {
    author: string;
    description: string;
    image: string;
}

const { author, description, image } = Astro.props;

---
<div class="inner-box">
    <div class="testimonial-container">
        <div class="testimonial-content">
            <div class="icon-box">
                <img
                    style="width: 90px;"
                    src="images/comillas.png"
                    alt=""
                />
            </div>
            <div class="text">
                <h3>{description }</h3>
                <br />
                <h3>- {author}</h3>
            </div>
        </div>
        <div class="testimonial-image">
            <img
                src={image}
                alt="Testimonio"
            />
        </div>
    </div>
</div>