---

---

<section>
	<div class="auto-container">
		<div class="row clearfix">
			<div class="col-lg-6 col-md-12 col-sm-12 image-column">
				<div class="image_block_one">
					<div class="image-box">
						<img
							src="/images/beneficios.svg"
							alt="Visitas escolares"
						/>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12 content-column">
				<div class="content_block_one">
					<div class="content-box">
						<div class="sec-title">
							<h2>
								Beneficios de traer a tu escuela con nosotros
							</h2>
						</div>
						<ul class="list-style-check-large clearfix">
							<li><h3>Lugar 100% seguro</h3></li>
							<li><h3>Actividades por temporadas</h3></li>
							<li><h3>Apto para toda la familia</h3></li>
						</ul>
					</div>
				</div>
				<div class="btn-box" style="margin-top: 40px;">
					<a href="index.html" class="theme-btn btn-one">
						Adquirir
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
