---

---

<!-- about-section -->
<section class="about-section bg-color-1">
    <div class="pattern-layer" style="background-image: url(images/shape-4.png);">
    </div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image_block_one">
                    <div class="image-box">
                        <div class="shape" style="background-image: url(images/shape-3.png);">
                        </div>
                        <figure class="image">
                            <img src="images/about-1.png" alt="" />
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_one">
                    <div class="content-box">
                        <div class="sec-title">
                            <span class="sub-title">
                                M치s de 40 a침os uniendo a las familias
                            </span>
                            <h2>
                                Creamos recuerdos inolvidables entre naturaleza,
                                tradiciones y momentos que perduran.
                            </h2>
                        </div>
                        <div class="text">
                            <div class="icon-box">
                                <i class="flaticon-camping"></i>
                            </div>
                            <p>
                                Disfruta actividades como senderismo,
                                campamentos, picnics, visitas escolares y la
                                venta de 치rboles navide침os cultivados con amor y
                                conciencia ambiental.
                            </p>
                        </div>
                        <ul class="list-style-one clearfix">
                            <li>Lugar 100% seguro</li>
                            <li>Actividades por temporadas</li>
                            <li>Apto para toda la familia</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-section end -->
