---

---

<!-- banner-section -->
<section class="banner-section centred">
    <div class="banner-carousel owl-theme owl-carousel owl-dots-none">
        <div class="slide-item">
            <div class="image-layer" style="background-image:url(images/foto_banner.png)">
            </div>
            <div class="auto-container">
                <div class="content-box">
                    <div class="sec-title light">
                        <h3 style="font-weight: 500;">
                            Adéntrate en un mundo de naturaleza,<br />aire puro
                            y caminos por descubrir.
                        </h3>
                    </div>
                    <h2>¡Vive experiencias únicas!</h2>
                    <div class="btn-box">
                        <a href="index.html" class="theme-btn btn-one">
                            Conoce más
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="media-partner">
        <ul class="media-links clearfix">
            <li>
                <h6>Síguenos en nuestras redes sociales</h6>
            </li>
            <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
            <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="index.html"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</section>
<!-- banner-section end -->
